:root {
    --primary-bg-color: #DCE8D9;
    --secondary-bg-color: #3F524D;
    --primary-color: #000000;
    --secondary-color: #DCE8D9;
    --active-color: #3F524D;
    --inactive-color: #A7D1CB;
}
